/* ===== General Reset ===== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background: #f9f9f9;
  color: #333;
}

/* ===== Navbar ===== */
header {
  background: #222;
  padding: 15px 0;
}

.navbar {
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar h1 {
  color: #fff;
  font-size: 24px;
}

.navbar ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

.navbar ul li a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  transition: color 0.3s ease;
}

.navbar ul li a:hover {
  color: #f39c12;
}

/* ===== Hero Section ===== */
.hero {
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(rgba(0, 0, 0, 0.5),
   rgba(0, 0, 0, 0.5));
   /* url('https://picsum.photos/1200/600') no-repeat center/cover; */
  color: white;
  text-align: center;
}

.hero h2 {
  font-size: 50px;
  animation: fadeIn 2s ease-in-out;
}

.hero p {
  margin-top: 15px;
  font-size: 20px;
}

/* ===== Content Section ===== */
.section {
  width: 80%;
  margin: 50px auto;
}

.section h2 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 28px;
  color: #333;
}

.card {
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.card:hover {
  transform: translateY(-5px);
}

/* ===== Footer ===== */
footer {
  text-align: center;
  background: #222;
  color: white;
  padding: 20px;
  margin-top: 30px;
}

footer a {
  color: #f39c12;
  margin: 0 10px;
  text-decoration: none;
  font-size: 20px;
}

  /* ===== Animations ===== */
  /* @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(30px);
    }

    to {
      opacity: 1;
      transform: translateY(0);
    } 
  } */